body{
    overflow: hidden;
}

.barra{
    margin-bottom: 2em;
}

.primeiro{
    /* display: none; */
}

.segundo{
    display: none;
}

.terceiro{
    display: none;
}

.quarto{
    display: none;
}

.cadastro{
    text-align: center;
    margin: 0 auto;
    width: 30%;
    background-color: #2D3037;
    border-radius:8px;
    padding-top: 2em;
    padding-bottom: 2em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cadastro h1{
    font-size: 1.2em;
    color: #E2F0EF;
    font-weight: bolder;
}

.cadastro-titulo{
    width: 35%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3em;
}

.cadastro form label{
    line-height: 0;
    color: #E2F0EF;
}

.cadastro form input{
    margin-bottom: 1em;
    text-align: center;
    height: 38px;
    border: none;
    border-radius: 4px;
    background-color: #E2F0EF;
    width: 60%;
}

.cadastro form input:focus{
    outline-color: #30BEB2;
}

.cadastro form button{
    width: 60%;
    border-radius: 5px;
    background-color: #30BEB2;
    color: #E2F0EF;
    border: none;
    margin-top: 2em;
    transition: all 0.35s ease-in-out;
    font-weight: bolder;
    font-size: 1.3em;
}

.cadastro form button:hover{
    background-color: #E2F0EF;
    color: #30BEB2;
}

.cadastro-titulo p{
    color: #E2F0EF;
}

.step-on,
.step{
    border-radius: 5px;
    margin-top: 2em;
    margin-left: 3em;
    width: 5%;
    height: 15px;
    color: #30BEB2;
    border: 1px solid #30BEB2;
    background-color: #E2F0EF;
    margin-bottom: 15em;
}

.step-on{
    background-color: #30BEB2;
}