@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat';
    outline-color:#30BEB2;    
}

.barra ul li a{
  color: #1D7870;
}

body{
    background: #E2F0EF;
}

body::-webkit-scrollbar {
    width: 12px;               
}
  
body::-webkit-scrollbar-track {
    background: #525661;
}
  
  body::-webkit-scrollbar-thumb {
    background-color: #1D7870;    
    border-radius: none;       
    border: none;  
}
  
#card-1{
  background:#2D3037 ;
  border-radius: 15px;
  color: #E2F0EF;
}

.botao button{
  font-size: 1.3em;
  border: none;
  border-radius: 10px;
  color: #E2F0EF;
  background-color: #30BEB2;
  transition: all 0.35s ease-in-out;
  width: 90%;
}

.botao button:hover{
  transform: scale(1.05);
  background-color: #1D7870;
}



@media(max-width: 1444px){
    #wrap{
      flex-direction: column-reverse;
    }

    #card-1{
      margin: 0 auto;
      width: 100%;
      margin-bottom: 3em;
    }
}

@media(max-width: 1000px){
    .table{
      display: none;
    }
}

